html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: clamp(30px,5vw,100px);
    margin: 0;
    color:$clr-second;
    text-shadow: 1px 1px 5px black;
}

h2{
    font-family: 'Playfair Display', serif;
    color: $clr-second;
    text-shadow: 1px 1px 5px black;
}

h3{
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 4px $clr-tertiaire;
    font-size: clamp(10px,2vw,25px);
    position: relative;
    &::before{
        content: "";
        width: 100px;
        height: 1px;
        background-color: $clr-tertiaire;
        position: absolute;
        bottom: -10px;
        @include tablette-only{
            
        }
    }
}
h4{
    font-family: 'Playfair Display', serif;
    color: $clr-primaire;
    font-size: clamp(10px,2vw,25px);
    position: relative;
}
h5{
    font-family: 'Playfair Display', serif;
    font-size: clamp(10px,2vw,25px);
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: clamp(10px,2vw,20px);

}
h6{
    font-family: 'Playfair Display', serif;
    color: $clr-tertiaire;
    font-size: clamp(10px,2vw,25px);
    position: relative;

}
li{
    list-style-type: none;
    font-size: clamp(10px,2vw,20px);

}
a{
    text-decoration: none;
    color: $clr-second;
    font-size: clamp(15px,2vw,25px);

}
.svg-competence {
    font-family: sans-serif;
    height: 70px;
    width: 70px;
    margin-bottom:1rem;
    @include mobile-only{
        height: 50px;
        width: 50px;
        border-radius: 5px;
    }
}
.svg-competenceProjet{
    height: 50px;
    width: 50px;
    margin-bottom: 0;
    @include mobile-only{
        height: 30px;
        width: 30px;      
    } 
}
.titre-competence {
    fill: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0 0 1px #000000;
}
  
.version-competence {
    font-size: 65px;
    opacity: 0.4;
    @include mobile-only{
        font-size: 40px;
        border-radius: 0 2rem;
    }
}